* {
    margin:0;
    padding:0;

}

body {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background: #e6e6e6;
}

/* cabeçalho */

#cabecalho {
    background-color: #f7b600;
    padding: 17px;
    text-align: center;
}

#logo,#menu {
    padding: 12px;

}

#logoblog {
    color:#4e4e4e;
    font-size: 2em;
}

/* Menu */

a:link, a:visited {
    color: #FFF;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 8px;
}

a:hover {
    color:#f7b600;
    background: #FFF;
}

/* Área principal do Site */

#principal {
    width:920px;
    margin:0 auto;
    padding: 15px;
}

#postagens,#lateral {
    background-color: aliceblue;
}

/* Postagens */

#postagens {
    width:660px;
    float:left;
}

.postagem {
    padding:20px;
    margin-bottom: 20px;
    background: blanchedalmond;
}

.titulo-Postagem {
    color: #f7b600;
}
.data-Postagem {
    font-size:0.8em ;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

#lateral{   
    width:240px;
    float:right;
}

/* rodapé */

#rodape {
    clear : both;
    text-align: center;
    background: blanchedalmond;
    padding:15px
}