* {
    margin:0;
    padding:0;

}

body {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background: #e6e6e6;
}

/* cabeçalho */

#cabecalho {
    background-color: #f7b600;
    padding: 17px;
    text-align: center;
}

#logo,#menu {
    padding: 12px;

}

#logoblog {
    color:#4e4e4e;
    font-size: 2em;
}

/* Menu */


a:link,a:visited {
    color: #f7b600;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    text-decoration: underline;
}


#cabecalho a:link, #cabecalho a:visited {
    color: #FFF;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 8px;
}

#cabecalho a:hover {
    color:#f7b600;
    background: #FFF;
}

/* Área principal do Site */

#principal {
    width:920px;
    margin:0 auto;
    padding: 15px;
}

#lateral {
    background-color: blanchedalmond;
}

/* Postagens */

#postagens {
    width:660px;
    float:left;
}

.postagem {
    padding:20px;
    margin-bottom: 20px;
    background: blanchedalmond;
}

.conteudo-lateral {
    background:blanchedalmond;
    padding:10px;
    margin-bottom:20px;
}

.postagens-recentes{
    color:#565656;
    background: #CCC;
    padding:5px;
}

.titulo-Postagem {
    color: #f7b600;
}
.data-Postagem {
    font-size:0.8em ;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#lateral{   
    width:240px;
    float:right;
}

.texto-lateral {
    font-size: 0.9em;
    padding:10px;
    border-bottom: 1px solid;
}

/* rodapé */

#rodape {
    clear : both;
    text-align: center;
    background: blanchedalmond;
    padding:15px
}